.upload-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--color-primary);
    border: none;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 40px; /* Tamaño reducido */
    height: 40px; /* Tamaño reducido */
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-button img {
    width: 20px; /* Ajusta el tamaño del icono */
    height: 20px; /* Ajusta el tamaño del icono */
}

.upload-button:hover {
    background-color: var(--color-secondary);
}
