.user-list {
    width: 100%;
    background-color: #061d2c;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.file-list {
    width: 100%;
    background-color: #061d2c;
    padding: 10px;
    border-radius: 10px;
}
